/* .header{
    color: grey;
    background-color: yellow;
    font-size: 40px;
} */

/* .inline-header{
    color: grey;
    background-color: yellow;
    font-size: 40px;
}

.outline-header{
    color: blueviolet;
    background-color: red;
    font-size: 40px;
} */